<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Core">
            <directory>tests/Core</directory>
        </testsuite>
        <testsuite name="Bot">
            <directory>tests/Bot</directory>
        </testsuite>
        <testsuite name="Laravel">
            <directory>tests/Laravel</directory>
        </testsuite>
        <testsuite name="Schema">
            <directory>tests/Schema</directory>
        </testsuite>
        <testsuite name="Ingest">
            <directory>tests/Ingest</directory>
        </testsuite>
        <testsuite name="Standalone">
            <directory>tests/Standalone</directory>
        </testsuite>
        <testsuite name="Pg">
            <directory>tests/Pg</directory>
        </testsuite>
        <testsuite name="Bus">
            <directory>tests/Bus</directory>
        </testsuite>
        <testsuite name="Console">
            <directory>tests/Console</directory>
        </testsuite>
        <testsuite name="Daemon">
            <directory>tests/Daemon</directory>
        </testsuite>
        <testsuite name="Backfill">
            <directory>tests/Backfill</directory>
        </testsuite>
        <testsuite name="Backup">
            <directory>tests/Backup</directory>
        </testsuite>
        <testsuite name="Handler">
            <directory>tests/Handler</directory>
        </testsuite>
        <testsuite name="Message">
            <directory>tests/Message</directory>
        </testsuite>
        <testsuite name="Identity">
            <directory>tests/Identity</directory>
        </testsuite>
        <testsuite name="Stage">
            <directory>tests/Stage</directory>
        </testsuite>
        <testsuite name="BotMap">
            <directory>tests/BotMap</directory>
        </testsuite>
        <testsuite name="MiniApp">
            <directory>tests/MiniApp</directory>
        </testsuite>
        <testsuite name="Realtime">
            <directory>tests/Realtime</directory>
        </testsuite>
    </testsuites>
</phpunit>